@model IEnumerable<Phase4Assessment.Models.PizzaModel>

@{
    ViewData["Title"] = "Index";
}
<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header">
                <h3>@item.Name</h3>
            </div>
            <img class="card-img-top" src="~/images/@item.ImageUrl" alt="Laptop Image" height="300px" />
            <div class="card-footer text-center">
                <a id = "@item.Id" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>

